@page "/posts/{postId:int?}"


<div class="container">
    <div class="mb-5">
        <div class="d-flex justify-content-between">
            <h1>@postModel.Title</h1>
            <h6>PostId: @postModel.PostId</h6>
        </div>
        
        <br/>
        <div>
            @postModel.Body
       </div>
        
        <br/>
        <div>
            <div class="border-bottom">Tags</div>
            <div class="fst-italic">@postModel.Tags</div>
        </div>
        

</div>
<div class="border border-top">
    <CommentsSection postId="@postId"/>
</div>
</div>




@code{
    [Parameter]
    public int postId{get;set;}

    public PostsModel postModel = new();


    protected override void OnInitialized()
    {
        postModel = _postService.GetSinglePost(postId);
    }

}